header {
    width: 100%; 
    height: 50px;
    position: absolute;
    z-index: 999;
}

// main_visual
@media screen and (min-width: 800px) {
    .main_visual {
        width: 100%;
        position: relative;
        overflow: hidden;
    }
}
.main_visual {height: 100vh;}

// about
.about {
    width: 100%;
    height: $row * 90;
    @include responsive('mob') {
        // height: $row * 120;
    }
}

// global 
.global {
    width: 100%;
    height: $row * 45;
    background-color: lightcoral;
    @include responsive('mob') {
        // height: $row * 70;
        background-color: coral;
    }
}

// vision
.vision {
    width: 100%;
    height: $row * 45;
    background-color: lightgreen;
    @include responsive('mob') {
        
    }
}