header {
    width: 100%; 
    height: 10rem;
    position: absolute;
    z-index: 999;
}

@media screen and (min-width: 800px) {
    .main_visual {
        width: 100%;
        position: relative;
        overflow: hidden;
    }
}
.main_visual {height: 100vh;}

.about {
    width: 100%;
    height: $row * 80;
    @include responsive('mob') {
        height: $row * 120;
    }
}

.global {
    width: 100%;
    height: $row * 45;
    background-color: $second;
    @include responsive('mob') {
        // height: $row * 70;
        background-color: $second;
    }
}

.vision {
    width: 100%;
    height: $row * 45;
    // @include responsive('mob') {}
}

.brand {
    width: 100%;
    height: $row * 32;
}

.product {
    width: 100%;
    height: $row * 32;
    background-color: $prime;
}

.news {
    width: 100%;
    height: $row * 55;
}

.recipe {
    width: 100%;
    height: $row * 26;
    background-color: #f7f4f4;
}

.sns {
    width: 100%;
    height: $row * 62;
}